.white {
  color: #fff;
}

.app-content {
  min-height: calc(100vh - 128px);
  padding: 10px;
}

.app-header {
  height: 64px;
  width: 100vw;
}

.app-footer {
  height: 64px;
}

.pointer {
  cursor: pointer;
  :hover {
    font-weight: bold;
    // font-size: 20px;
  }
}

.transcript-container {
  max-width: 1095px;
  align-items: center;
  margin: 1.2rem;
  line-height: 1.6;
  font-size: 18px;
  color: #424242;
}

.video-collapsed-container {
  font-size: 36px;
  padding: 10px;
  svg > {
    padding-right: 10px;
    cursor: pointer;
  }
}

.left {
  float: left;
  display: flex;
  align-items: center;
}

.right {
  float: right;
  display: flex;
  align-items: center;
}

.italics {
  font-style: italic;
}

.bold {
  font-weight: bold;
}
