
@red: #e63946;
@white: #f1faee;
@light-blue: #a8dadc;
@blue: #457b9d;
@dark-blue: #1d3557;
@dark-grey: #424242;
@yellow: #ffff99;

.white {
  color: #fff;
}

.app-content {
  min-height: calc(100vh - 128px);
  padding: 10px;
}

.app-header {
  padding-left: 20px;
  padding-right: 20px;
  height: 64px;
  width: 100vw;
  font-size: 30px;
  background-color: @dark-blue;
}

.app-footer {
  height: 64px;
  text-align: center;
  background-color: @dark-blue;
}

.list-videos {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: large;
}

.pointer {
  cursor: pointer;
  :hover {
    font-weight: bold;
    // font-size: 20px;
  }
}

.transcript-container {
  max-width: 1095px;
  align-items: center;
  margin: 1.2rem;
  line-height: 1.6;
  font-size: 18px;
  color: @dark-grey;
}

.video-collapsed-anchor {
  border-style: solid;
  border-color: @dark-blue;
  margin: 10px;
}

.video-collapsed-container {
  font-size: 36px;
  padding: 10px;
  min-height: 72px;
  svg > {
    cursor: pointer;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.left {
  float: left;
  display: flex;
  align-items: center;
}

.right {
  float: right;
  display: flex;
  align-items: center;
}

.search-input {
  width: 300px;
  max-width: calc(100vw - 70px;);
}

.italics {
  font-style: italic;
}

.faded {
  opacity: 50%;
}

@keyframes fadeInOut {
  0% {
    background-color: @yellow;
  }
  25% {
    background-color: #ffffb2;
  }
  50% {
    background-color: #ffffcc;
  }
  75% {
     background-color: #ffffe5;
  }
  100% {
    background-color: inherit;
 }
}

.highlight-fade {
  -webkit-animation: fadeInOut 5s;
  animation: fadeInOut 5s;
}

.highlight {
  background-color: @yellow;
}
