
@red: #e63946;
@white: #f1faee;
@light-blue: #a8dadc;
@blue: #457b9d;
@dark-blue: #1d3557;
@dark-grey: #424242;
@yellow: #ffff99;

.white {
  color: @white;
}

.app-layout {
  background-color: @dark-blue;
}

.app-content {
  min-height: calc(100vh - 116px);
  padding: 10px;
  background-color: white;
}

.app-header {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 10vh;
  width: 100vw;
  font-size: 24px;
  background-color: @dark-blue;
  z-index: 1;
  box-shadow: 0px 0px 5px 5px rgba(41,41,41,0.15);
}

.app-footer {
  padding: 10px;
  text-align: center;
  background-color: @dark-blue;
}

.list-videos {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: large;
}

.transcript-container {
  align-items: center;
  margin: 10px;
  margin-top: 5px;
  line-height: 1.6;
  font-size: 18px;
  color: @dark-grey;
  // overflow-y: scroll;
  overflow-x: hidden;
  flex: 1;
}

.transcript-sentence {
  max-width: 600px;
}

.video-page-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
}

.video-collapsed-row {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.video-collapsed-container {
  text-align: center;
  border-style: solid;
  max-height: 10vh;
  align-items: center;
  max-width: 600px;
  justify-content: space-between;
  display: flex;
  svg > {
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.left {
  float: left;
  display: flex;
  align-items: center;
}

.right {
  float: right;
  display: flex;
  align-items: center;
}

.search-input {
  width: 350px;
  max-width: calc(100vw - 100px;);
  padding-top: 10px;
}

.italics {
  font-style: italic;
}

.faded {
  opacity: 50%;
}

@keyframes fadeInOut {
  0% {
    background-color: @yellow;
  }
  25% {
    background-color: #ffffb2;
  }
  50% {
    background-color: #ffffcc;
  }
  75% {
     background-color: #ffffe5;
  }
  100% {
    background-color: inherit;
 }
}

.highlight-fade {
  -webkit-animation: fadeInOut 5s;
  animation: fadeInOut 5s;
}

.highlight {
  background-color: @yellow;
}
